
<div class="cart-list" *ngFor="let cartItem of cartProducts">
    <div class="row">
        <div class="col-sm-3 text-sm-left text-center">
            <img class="image" src="{{cartItem.imagePath}}" alt="Minha Figura">
        </div>
        <div class="col-sm-6 details">
            <h1>Produto: {{cartItem.name}}</h1>            
            <h3>Quantidade: {{cartItem.quantity}}</h3>    
            <h3>Subtotal: {{getSubtotal(cartItem) | currency:'BRL':true}}</h3>            
        </div>
        <div class="col-sm-3 align-self-center">
            <div class="text-center">
                <button mat-mini-fab (click)="changeQuantity(cartItem.productId, -1)" color="accent" aria-label="Example icon button with a plus one icon">
                    <mat-icon>remove</mat-icon>
                </button>
                {{cartItem.quantity}}
                <button mat-mini-fab (click)="changeQuantity(cartItem.productId, 1)" color="accent" aria-label="Example icon button with a plus one icon">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="cartProducts.length > 0">
    <span>Total: {{getTotal() | currency:'BRL':true}}</span>
    <a class="float-right" [routerLink]="['/checkout']" mat-button color="primary" >Finalizar Compra</a> 
</div>
<div *ngIf="cartProducts.length == 0">
    <h1>Não há itens no carrinho</h1>
</div>
