<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-12">              
            <p>Essa loja é um projeto pessoal para implementar um sistema utilizando .NET Core e Angular</p>              
          </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-lg-12 text-center">              
            <p>Blue Modas {{anoAtual}} | Feito com carinho</p>
           
          </div>
      </div>
  </div>
</footer>